# 1. Pandas의 개요, 구조적 데이터 생성(1)

## (1) 개요

- NumPy 기반 데이터 분석 특화 라이브러리
- 복잡한 데이터 분석에 특화
- pandas는 NumPy와 달리 <b>데이터 타입이 다양하게 섞여 있어도 처리가능</b>

## (2) 구조적 데이터 생성

### 1) Series를 활용한 데이터생성

- Series란 라벨을 갖는 구조적 데이터를 생성하는것
```python
import pandas as pd  # pandas 라이브러리 호출
s = pd.Series(seq_data)  # Series 형식의 데이터 생성
s = pd.Series(seq_data, index = index_seq)  # 데이터에 인덱스 추가
s = pd.Series(dict_data)  # 데이터와 인덱스를 함께 입력
```

<table>
    <tr>
        <td>0</td>
        <td>10</td>
    </tr>
    <tr>
        <td>1</td>
        <td>20</td>
    </tr>
    <tr>
        <td>2</td>
        <td>30</td>
    </tr>
    <tr>
        <td>3</td>
        <td>40</td>
    </tr>
    <tr>
        <td>4</td>
        <td>50</td>
    </tr>
</table>

In [ ]:
import pandas as pd

In [ ]:
s1 = pd.Series([10, 20, 30, 40, 50])
s1

In [ ]:
s1.index

In [ ]:
for idx in s1.index:
    print(idx)

In [ ]:
s1.values

In [ ]:
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3])
s2

In [ ]:
# 텍스트와 숫자가 섞이면 dtype은 object가 된다.(숫자보다 텍스트를 더 우선으로 생각함)
print(s1.dtype)
print(s2.dtype)

In [ ]:
import numpy as np

In [ ]:
# numpy의 nan 값을 이용해서 비어있음을 표현할 수 있다.
s3 = pd.Series([np.nan, 10, 30]) # 여기서 NaN은 숫자로 비어있음을 의미함
s3

In [ ]:
# 인덱스를 직접 지정해서 넣을 수도 있다.
index_date = ['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04']

In [ ]:
s4 = pd.Series([200, 195, np.nan, 205], index = index_date)  # 여기서 NaN은 숫자로 비어있음을 의미함
s4

In [ ]:
# 딕셔너리 형태로 입력을 넣을 수 있다.
# key : 인덱스, value : 데이터
s5 = pd.Series({'국어': 100, '영어': 95, '수학': 90})
s5

### 2) 날짜 자동 생성 : `date_range`

- 원하는 날짜를 자동 생성하는 방법
```python
pd.date_range(start=None, periods=None, freq='0')
```
- 아래 표처럼 무조건 쓰지 않아도 된다. 다양하게 날짜를 표현할 수 있다.
<table>
    <thead>
        <tr>
            <td><center><b>형태</b></center></td>
            <td><center><b>표현방식</b></center></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><center>yyyy-mm-dd</center></td>
            <td><center>기본형태, 연도-월-일</center></td>
        </tr>
        <tr>
            <td><center>yyyy/mm/dd</center></td>
            <td><center>연도/월/일</center></td>
        </tr>
        <tr>
            <td><center>yyyy.mm.dd</center></td>
            <td><center>연도.월.일</center></td>
        </tr>
        <tr>
            <td><center>mm-dd-yyyy</center></td>
            <td><center>월-일-연도</center></td>
        </tr>
        <tr>
            <td><center>mm/dd/yyyy</center></td>
            <td><center>월/일/연도</center></td>
        </tr>
        <tr>
            <td><center>mm.dd.yyyy</center></td>
            <td><center>월.일.연도</center></td>
        </tr>
    </tbody>
</table>

- `date_range()` 함수의 `freq` 옵션 (빨간색이 주로 많이 쓰는 옵션)
<table>
    <thead>
        <tr>
            <td><center><b>약어</b></center></td>
            <td><center><b>설명</b></center></td>
            <td><center><b>부가 설명 및 사용 예</b></center></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="color: red;"><center>D</center></td>
            <td><center>달력 날짜 기준 하루 주기</center></td>
            <td><div style="text-align: left;">하루 주기 : freq='D', 이틀 주기 : freq='2D'</div></td>
        </tr>
        <tr>
            <td><center>B</center></td>
            <td><center>업무 날짜 기준 하루 주기</center></td>
            <td><div style="text-align: left;">업무일(월요일~금요일)기준으로 생성, freq='B', freq='3B'</div></td>
        </tr>
        <tr>
            <td><center>3BW</center></td>
            <td><center>일요일 시작 기준 일주일 주기</center></td>
            <td><div style="text-align: left;">월요일 : W-MON, 화요일 : W-TUE, freq='W', freq='W-MON'</div></td>
        </tr>
        <tr>
            <td><center>M</center></td>
            <td><center>월말 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">한 달 주기 : freq='M', 네 달 주기 : freq='4M'</div></td>
        </tr>
        <tr>
            <td><center style="color: red;">BM</center></td>
            <td><center>업무 월말 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='BM', freq='2BM'</div></td>
        </tr>
        <tr>
            <td><center style="color: red;">MS</center></td>
            <td><center>월초 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='MS', freq='3MS'</div></td>
        </tr>
        <tr>
            <td><center>BMS</center></td>
            <td><center>업무 월초 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='MS', freq='3BMS'</div></td>
        </tr>
        <tr>
            <td><center>Q</center></td>
            <td><center>분기 끝 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='Q', freq='2Q'</div></td>
        </tr>
        <tr>
            <td><center>BQ</center></td>
            <td><center>업무 분기 끝 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='BQ', freq='2BQ'</div></td>
        </tr>
        <tr>
            <td><center>QS</center></td>
            <td><center>분기 시작 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='QS', freq='2QS'</div></td>
        </tr>
        <tr>
            <td><center>BQS</center></td>
            <td><center>업무 분기 시작 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='BQS', freq='2BQS'</div></td>
        </tr>
        <tr>
            <td style="color: red;"><center>A</center></td>
            <td><center>일년 끝 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='A', freq='5A'</div></td>
        </tr>
        <tr>
            <td><center>BA</center></td>
            <td><center>업무 일년 끝 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='BA', freq='3BA'</div></td>
        </tr>
        <tr>
            <td><center>AS</center></td>
            <td><center>일년 시작 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='AS', freq='2AS'</div></td>
        </tr>
        <tr>
            <td><center>BAS</center></td>
            <td><center>업무 일년 시작 날짜 기준 주기</center></td>
            <td><div style="text-align: left;">freq='BAS', freq='2BAS'</div></td>
        </tr>
        <tr>
            <td style="color: red;"><center>H</center></td>
            <td><center>시간 기준 주기</center></td>
            <td><div style="text-align: left;">1시간 주기 : freq='H', 2시간 주기 : freq='2H'</div></td>
        </tr>
        <tr>
            <td><center>BH</center></td>
            <td><center>업무 시간 기준 주기</center></td>
            <td><div style="text-align: left;">업무시간(09:00~17:00) 기준으로 생성</div></td>
        </tr>
        <tr>
            <td style="color: red;"><center>T, min</center></td>
            <td><center>분 주기</center></td>
            <td><div style="text-align: left;">10분 주기 :freq='10T', 30분 주기 : freq='30min'</div></td>
        </tr>
        <tr>
            <td style="color: red;"><center>S</center></td>
            <td><center>초 주기</center></td>
            <td><div style="text-align: left;">1초 주기 : freq='S', 10초 주기 : freq='20S'</div></td>
        </tr>
    </tbody>
</table>

In [ ]:
pd.date_range(start='2020-01-01', end='2020-01-10')

In [ ]:
pd.date_range(start='2020/01/01', end='2020.01.10')

In [ ]:
pd.date_range(start='01-01-2020', end='01/10/2020')

In [ ]:
pd.date_range(start='2020-01-01', end='01.10.2020')

In [ ]:
pd.date_range(start='2020-01-01', periods=10)

In [ ]:
pd.date_range(start='2020-01-01', periods=5, freq='2D')

In [ ]:
pd.date_range(start='2020-01-01', periods=5, freq='W')

In [ ]:
pd.date_range(start='2020-01-01', periods=12, freq='2BM')

In [ ]:
pd.date_range(start='2020-01-01', periods=4, freq='QS')

In [ ]:
index_date = pd.date_range(start='2020-04-01', periods=5, freq='D')
pd.Series([50, 60, 70, 80, 90], index=index_date)