In [ ]:
import pandas as pd

## Question 01

- 회사의 직원 몇명의 정보를 포함하는 다음 두 개의 DataFrame을 emrge를 활용하여 결합하라.
```python
df1 = pd.DataFrame({'employee': ['김주임', '정부장', '오대리', '박대리'], 'group': ['Laboratory1', 'Enginerring', 'Laboratory2', 'Accounting']})
df2 = pd.DataFrame({'employee': ['박대리', '정부장', '오대리', '김주임'], 'hire_date': [2016, 2017, 2018, 2018]})
```

In [ ]:
df1 = pd.DataFrame({'employee': ['김주임', '정부장', '오대리', '박대리'], 'group': ['Laboratory1', 'Enginerring', 'Laboratory2', 'Accounting']})
df2 = pd.DataFrame({'employee': ['박대리', '정부장', '오대리', '김주임'], 'hire_date': [2016, 2017, 2018, 2018]})

In [ ]:
df3 = df1.merge(df2)
df3

## Question 02

- Numpy 패키지를 활용하여 50개의 난수를 생성시키고 이를 Pandas의 시리즈형 데이터로 변환하라.

In [ ]:
import numpy as np

In [ ]:
list = np.random.rand(50)
list

In [ ]:
data = pd.Series(list)
data

## Question 03

- 다음은 표준분포로 random으로 수를 생성하여 df을 만들어주는 코드이다.

```python
# 그림 1
a = np.random.standard_normal((12, 4))
df = pd.DataFrame(a)
```

- `df.columns`, `pd.data_range`, `df.index`를 활용하여 그림 2와 같은 결과값이 나오도록 코드를 작성하라.

<img src="https://user-images.githubusercontent.com/52685250/77740379-7c1d1300-7056-11ea-8cbf-b697852de432.png" width="700">

In [ ]:
a = np.random.standard_normal((12, 4))
df = pd.DataFrame(a)
df

In [ ]:
df.columns = [['No1', 'No2', 'No3', 'No4']]
dates = pd.date_range('2020-1-1', periods=12, freq='M')
df.index = dates
df['Quarter'] = [f'Q{i + 1}' for i in range(4) for _ in range(3)]
df